body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.camera-container {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #ddd;
}

#video, #output {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#output {
  z-index: 2;
}

.game-container {
  width: 50%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
